spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/foot5connect_db
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: root

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
springdoc:
  default-produces-media-type: application/json